<!DOCTYPE HTML>
<html class="blank">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>sssssssssc</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

		<meta property="og:title" content="sssssssssc" />
		<meta property="og:description" content="bleep bloop" />
		<meta property="og:image" content="http://www.scoobasteve.com/images/oompa.jpg" />

		<link rel="stylesheet" type="text/css" href="fonts/atlas.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
		{% block foot %}{% endblock %}
		{% include 'partials/ga.html' %}
	</body>
</html>
