@keyframes fade {
	from {
		background-color: #ffffff;
		color: #000000;
	}
	to {
		background-color: #808080;
		color: #808080;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	66.6666% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes turnoff {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes typechange {
	0% {
		font-weight: 100;
		font-style: normal;
	}
	9% {
		font-weight: 100;
		font-style: italic;
	}
	18% {
		font-weight: 300;
		font-style: normal;
	}
	27% {
		font-weight: 300;
		font-style: italic;
	}
	36% {
		font-weight: 400;
		font-style: normal;
	}
	45% {
		font-weight: 400;
		font-style: italic;
	}
	55% {
		font-weight: 500;
		font-style: normal;
	}
	64% {
		font-weight: 500;
		font-style: italic;
	}
	73% {
		font-weight: 700;
		font-style: normal;
	}
	82% {
		font-weight: 700;
		font-style: italic;
	}
	91% {
		font-weight: 900;
		font-style: normal;
	}
	100% {
		font-weight: 900;
		font-style: italic;
	}
}

@keyframes typechange2 {
	0% {
		font-weight: 100;
		font-style: normal;
	}
	9% {
		font-weight: 300;
		font-style: normal;
	}
	18% {
		font-weight: 400;
		font-style: normal;
	}
	27% {
		font-weight: 500;
		font-style: normal;
	}
	36% {
		font-weight: 700;
		font-style: normal;
	}
	45% {
		font-weight: 900;
		font-style: normal;
	}
	55% {
		font-weight: 900;
		font-style: italic;
	}
	64% {
		font-weight: 700;
		font-style: italic;
	}
	73% {
		font-weight: 500;
		font-style: italic;
	}
	82% {
		font-weight: 400;
		font-style: italic;
	}
	91% {
		font-weight: 300;
		font-style: italic;
	}
	100% {
		font-weight: 100;
		font-style: italic;
	}
}

@keyframes glitch {
	0%,
	9.999999% {
		@include randomBoxShadow();
	}
	10%,
	19.999999% {
		@include randomBoxShadow();
	}
	20%,
	49.999999% {
		@include randomBoxShadow();
	}
	50%,
	54.999999% {
		@include randomBoxShadow();
	}
	55%,
	69.9999999% {
		box-shadow: none;
	}
	70%,
	79.999999% {
		@include randomBoxShadow();
	}
	80%,
	94.999999% {
		@include randomBoxShadow();
	}
	95%,
	99.999999% {
		@include randomBoxShadow();
	}
	100% {
		@include randomBoxShadow();
	}
}