@mixin jitter($n:6, $timing: 100ms, $random: false) {
	& > * {
		animation: typechange ($timing * ($n - 1)) infinite alternate;
		// animation: typechange2 ($timing * ($n - 1)) infinite;
	}

	@for $i from 1 through $n {
		@if $random {
			$i: random($n);
		}
		& > *:nth-child(#{$n+'n+'$i}) {
			animation-delay: ($timing * ($i - 1));
		}	
	}
}

@mixin randomBoxShadow() {
	$shadow: "";

	@for $i from 1 through 8 {
		$color: $yellow;
		@if($i % 2 == 0) {
			$color: white;
		}

		@if($i != 1) {
			$shadow: #{$shadow + ","};
		}
		$shadow: #{$shadow} inset #{randCentered(random(100)) + 'vw'} #{randCentered(random(100)) + 'vh'} 0 #{(randCentered(random(10))) + 'em'} $color;
	}

	box-shadow: $shadow;
}

@mixin resetAppearance {
	appearance:none;
	background:transparent;
	border:0;
	padding:0;
	cursor:pointer;
	font:inherit;
	text-align:inherit;
}

@function randCentered($num) {
	@return (random($num * 2) - $num);
}