@mixin underline($color: #000000, $size: 1px, $offset: 0px) {
	background: repeating-linear-gradient(180deg,transparent,transparent calc(1em + #{$offset}),$color calc(1em + #{$offset}),$color calc(1em + #{($size + $offset)}))
}

@mixin jitter($n:5, $timing: 100ms, $random: false) {
	& > * {
		animation: typechange ($timing * ($n - 1)) infinite alternate;
	}

	@include stagger($n, 0s, $timing, $random);
}

@mixin stutter($timing: 500ms) {
	& > * {
		animation: stutter $timing steps(1, end) infinite forwards;
	}
}

@mixin stagger($count: 5, $offset: 0s, $timing: 100ms, $random: false) {
	@for $i from 1 through $count {
		@if $random {
			$i: random($count);
		}
		& > *:nth-child(#{$count+'n+'$i}) {
			animation-delay: ($offset + ($timing * ($i - 1)));
		}	
	}
}

@mixin randomBoxShadow() {
	$shadow: "";

	@for $i from 1 through 8 {
		$color: $yellow;
		@if($i % 2 == 0) {
			$color: white;
		}

		@if($i != 1) {
			$shadow: #{$shadow + ","};
		}
		$shadow: #{$shadow} inset #{randCentered(random(100)) + 'vw'} #{randCentered(random(100)) + 'vh'} 0 #{(randCentered(random(10))) + 'em'} $color;
	}

	box-shadow: $shadow;
}

@mixin resetAppearance {
	appearance:none;
	background:transparent;
	border:0;
	padding:0;
	cursor:pointer;
	font:inherit;
	text-align:inherit;
}

@function randCentered($num) {
	@return (random($num * 2) - $num);
}