@import "variables";
@import "mixins";
@import "animations";

html,
body {
	font-family: 'Atlas Typewriter Web', monospace;
	font-size: 20px;
	line-height: 2;
	animation: fontsize 25s linear infinite alternate;
}

.background {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: glitch 500ms linear backwards;

	html:hover & {
		animation: none;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: #ffffff;

		animation: turnoff 2000ms steps(1) forwards;
	}
}

.container {
	padding: 2em 6em;
	max-width: 56em;
}

.fade {
	animation: fadein 2.5s linear;
}

section {
	margin: 5em 0;
}

h1 {
	font-size: 5em;
	font-weight: 100;
	height: 2em;

	@include jitter(6, 300ms);
}

h2 {
	font-size: 0.75em;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 2em 0;

	&:after {
		content: '';
		display: block;
		margin-bottom: -0.1em;
	}
}

ul {
	li {
		margin: 1em 0;

		h3 em {
			font-style: normal;
			font-size: 0.75em;
		}

		h3,
		p {
			margin: 0;
		}

		p,
		a {
			font-size: 0.75em;
		}
	}
}

p:hover {
	@include jitter(40, 40ms, true);
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 4px solid $yellow;

	&:hover {
		border-left: 2em solid $yellow;
		font-style: italic;
	}
}

@import "modules/font_loader";