@import "variables";
@import "mixins";
@import "animations";

html,
body {
	font-family: 'Atlas Typewriter Web', monospace;
	font-size: 20px;
	line-height: 2;
	animation: fontsize 25s linear infinite alternate;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	overflow-x: hidden;
}

.container {
	position: relative;
	z-index: 1;
	padding: 2em 6em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.uncontainer {
	margin-left: -6em;
	margin-right: -6em;
	padding-left: 6em;
	padding-right: 6em;
	width: auto;
}

@media screen and (max-width: 1000px) {
	html,
	body {
		font-size: 18px;
	}

	.container {
		padding-left: 4em;
		padding-right: 4em;
	}

	.uncontainer {
		margin-left: -4em;
		margin-right: -4em;
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media screen and (max-width: 700px) {
	.container {
		padding-left: 2em;
		padding-right: 2em;
	}

	.uncontainer {
		margin-left: -2em;
		margin-right: -2em;
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media screen and (max-width: 500px) {
	html,
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 400px) {
	.container {
		padding: 1.75em;
	}

	.uncontainer {
		margin-left: -1.75em;
		margin-right: -1.75em;
		padding-left: 1.75em;
		padding-right: 1.75em;
	}
}

.hide-on-load {
	animation: turnon 1000ms steps(1) forwards;
}

.fade {
	// animation: fadein 3s linear;
}

img {
	max-width: 100%;
}

section {
	margin: 5em 0;
}

h1 {
	font-size: 4em;
	font-weight: 100;
	line-height: 1.5;
	position: relative;
	margin: 1em 0;

	a {
		color: inherit;
		text-decoration: none;
	}

	nav & {
		font-size: 5em;
	}
}

h2 {
	font-size: 0.75em;
	font-weight: 600;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin: 2em 0;

	&:after {
		content: '';
		display: block;
		margin-bottom: -0.1em;
	}
}

ul {
	margin: 1em 0;
	padding: 0;
}

article {
	max-width: 48em;
}

p {
	text-shadow: 1px 1px 0px #ffffff;
	max-width: 48em;
}

p.small {
	font-size: 0.75em;
	max-width: 64em;
}

p:hover {
	@include jitter(40, 40ms, true);
}

pre {
	font-family: 'Atlas Typewriter Web', monospace;
	font-size: 0.75em;
	padding: 1.33333em;
	background: #f7f7f7;
}

.text_link {
	color: inherit;
	text-decoration: none;

	@include underline($yellow, 4px, -2px);
	padding-bottom: 4px;

	&:hover {
		@include underline($yellow, 12px, -10px);
	}
}

nav {
	position: relative;
}

.box {
	position: absolute;
	top: 4em;
	left: 17.5em;
	z-index: -1;
	height: 2em;
	width: 2em;
	background: $yellow;
}

@import "modules/list";
@import "modules/outside";
@import "modules/backgrounds";
@import "modules/text-animation";
@import "modules/font-loader";