@import "variables";
@import "mixins";
@import "animations";

html,
body {
	font-family: 'Atlas Typewriter Web', monospace;
	font-size: 20px;
	line-height: 2;
	animation: fontsize 25s linear infinite alternate;
	margin: 0;
	padding: 0;
}

.container {
	padding: 2em 6em;
	max-width: 56em;
	word-wrap: break-word;
}

.uncontainer {
	margin-left: -6em;
	margin-right: -6em;
	padding-left: 6em;
	padding-right: 6em;
	width: auto;
}

@media screen and (min-width: (56 * 20px)) {
	.uncontainer {
		margin-right: calc((-100vw + 56em) + 6em);
	}
}

@media screen and (max-width: 1000px) {
	html,
	body {
		font-size: 18px;
	}

	.container {
		padding-left: 4em;
		padding-right: 4em;
	}

	.uncontainer {
		margin-left: -4em;
		margin-right: -4em;
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media screen and (max-width: 700px) {
	.container {
		padding-left: 2em;
		padding-right: 2em;
	}

	.uncontainer {
		margin-left: -2em;
		margin-right: -2em;
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media screen and (max-width: 500px) {
	html,
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 400px) {
	.container {
		padding: 1em;
	}

	.uncontainer {
		margin-left: -1em;
		margin-right: -1em;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.background {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	animation: glitch 500ms linear backwards;

	html.glitch &,
	html:hover & {
		animation: none;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: #ffffff;

		animation: turnoff 2000ms steps(1) forwards;
	}
}

.fade {
	// animation: fadein 2.5s linear;
}

section {
	margin: 5em 0;
}

h1 {
	font-size: 5em;
	font-weight: 100;
	position: relative;
}

h2 {
	font-size: 0.75em;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 2em 0;

	&:after {
		content: '';
		display: block;
		margin-bottom: -0.1em;
	}
}

ul {
	margin: 1em 0;
	padding: 0;
}

.list {
	position: relative;
	white-space: nowrap;
	overflow: scroll;

	.item {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		width: 34%;
		max-width: 320px;
		min-width: 160px;
		margin-right: 2em;
	}
}

.item {
	margin-bottom: 2.5em;
	&-title,
	&-text {
		margin: 0;
	}

	&-title {
		line-height: 1.5;
		margin-bottom: 0.2em;
	}

	&-text {
		font-size: 0.75em;
	}

	&-date {
		display: block;
		font-weight: 100;
		font-size: 0.75em;
		margin-top: 1em;

		white-space: nowrap;
	}
}

p:hover {
	@include jitter(40, 40ms, true);
}

a {
	color: inherit;
	text-decoration: none;

	@include underline($yellow, 4px, -2px);
	padding-bottom: 4px;
	transition: background 200ms;

	&:hover {
		@include underline($yellow, 12px, -10px);
	}
}

@import "modules/text-animation";
@import "modules/font-loader";