{% extends 'views/layout.html' %}

{% block content %}
<nav>
	<h1 class="jitter-text"><a href="index.html">s</a></h1>
</nav>
<article>
	<h1>Useful front-end snippets</h1>
	<p>A repository of code snippets I commonly use in my front-end work.</p>
	<section>
		<h2>Base button styles</h2>
		<p>When using buttons for interfaces styles usually need to be reset from the default ones added by browsers. This block will render your button elements as if they were plain text.</p>
		<pre>button {
  appearance:none;
  background:transparent;
  border:0;
  padding:0;
  cursor:pointer;
  font:inherit;
  text-align:inherit;
}

button:active,
button:focus {
  outline:none;
}</pre>
	</section>
	<section>
		<h2>Responsive Grid</h2>
		<p>Using negetive margins you can make a responsive grid without any :nth-child selectors.</p>
		<pre>.grid {
  width: auto;
  margin: -1em;
}
.grid-item {
  width: 25%;
  margin: 1em;
}</pre>
	</section>
</article>
{% endblock %}