<!DOCTYPE HTML>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>sssssssssc</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

		<meta property="og:title" content="sssssssssc" />
		<meta property="og:description" content="preview.html" />
		<meta property="og:image" content="http://project.sscooba.net/atlas/images/image.png" />

		<link rel="stylesheet" type="text/css" href="fonts/atlas.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="background"></div>
		<main class="container">
			<h1>{{ 'scooba' | duplicate(23) | safe }}</h1>
			<div class="fade">
				<p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget sapien magna. Curabitur consectetur scelerisque pulvinar. Donec quis neque non est cursus gravida. Aliquam pretium felis et magna varius, eu convallis diam porttitor. Morbi elementum sapien in odio semper, vitae tincidunt nulla egestas. Curabitur vel faucibus lacus, id euismod velit.' | split() | safe }}</p>
				{% for list in lists %}
				<section>
					<h2>{{ list['title'] }}</h2>
					<ul>
						{% for item in list['items'] %}
						<li>
							<h3>{{item['title']}} <em>[{{item['date']}}]</em></h3>
							{{item['description'] | safe}}
							{% if item['link'] %}<a href="{{item['link']}}">Visit</a>{% endif %}
						</li>
						{% endfor %}
					</ul>
				</section>
				{% endfor %}
			</div>
		</main>
		{% include 'views/partials/font_loader.html' %}
		{% include 'views/partials/ga.html' %}
		<script>
			var htmlElement = document.getElementsByTagName("html")[0];
			document.addEventListener('touchstart', function() {
				htmlElement.classList.add('glitch');
				setTimeout(function() {
					htmlElement.classList.remove('glitch');
				}, 10);
			});
		</script>
	</body>
</html>