{% extends 'views/layout.html' %}

{% block background %}
<div class="stevie">
	{{ stevie }}
</div>
{% endblock %}

{% block content %}
<nav>
	<h1 class="jitter-text">{{ 'scooba' | split() | safe }}</h1>
	<span class="box"></span>
</nav>
<div class="fade">
	<p>{{ description | split() | safe }}</p>
	{% for list in lists %}
	<section>
		<h2>{{ list['title'] }}</h2>
		<ul class="list uncontainer">
			{% for item in list['items'] %}
			<li class="item">
				{% if item['link'] %}<a href="{{item['link']}}" class="item-link" rel="external">{% endif %}
					{% if item['image'] %}
					<div class="item-image">
						<img src="images/{{item['image']}}" alt="" />
					</div>
					{% endif %}
					<h3 class="item-title">
						{{item['title']}}
					</h3>
					<div class="item-text">{{item['description'] | safe}}</div>
					{% if item['date'] %}
					<date class="item-date">[{{item['date']}}]</date>
					{% endif %}
				{% if item['link'] %}</a>{% endif %}
			</li>
			{% endfor %}
		</ul>
	</section>
	{% endfor %}
	<section>
		<h2>Boo ya ca-sha</h2>
		<p class="small">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est scelerisque, sagittis mi in, feugiat sem. Sed ac augue nulla. Mauris malesuada turpis et neque ornare eleifend. Suspendisse quis pellentesque sem. Curabitur sed accumsan sapien, ut bibendum justo. In in diam nisl. Praesent quis nibh sem.
		</p>
	</section>
</div>
{% endblock %}