.outside {
	display: none;
	background: #ffffff;
	position: fixed;
	top: 3em;
	right: 3em;
	z-index: 100;
	width: 85vw;
	height: calc(100vh - 6em);

	iframe {
		height: 100%;
		width: 100%;
	}

	&.--active {
		display: block;
		animation: glitch 500ms linear backwards;
	}
}