h1 {
	@include jitter(6, 100ms);
	height: 2em;

	// & > span {
	// 	display: block;

	// 	& > span {
	// 		opacity: 0;
	// 	}

	// 	& + span {
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 	}

	// 	$timing: 1000ms;
	// 	$count: 22;

	// 	@include stutter($timing);

	// 	&:nth-child(1) {
	// 		font-weight: 100;
	// 		font-style: normal;
	// 		@include stagger($count, (0 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(2) {
	// 		font-weight: 100;
	// 		font-style: italic;
	// 		@include stagger($count, (1 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(3) {
	// 		font-weight: 300;
	// 		font-style: normal;
	// 		@include stagger($count, (2 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(4) {
	// 		font-weight: 300;
	// 		font-style: italic;
	// 		@include stagger($count, (3 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(5) {
	// 		font-weight: 400;
	// 		font-style: normal;
	// 		@include stagger($count, (4 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(6) {
	// 		font-weight: 400;
	// 		font-style: italic;
	// 		@include stagger($count, (5 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(7) {
	// 		font-weight: 500;
	// 		font-style: normal;
	// 		@include stagger($count, (6 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(8) {
	// 		font-weight: 500;
	// 		font-style: italic;
	// 		@include stagger($count, (7 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(9) {
	// 		font-weight: 700;
	// 		font-style: normal;
	// 		@include stagger($count, (8 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(10) {
	// 		font-weight: 700;
	// 		font-style: italic;
	// 		@include stagger($count, (9 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(11) {
	// 		font-weight: 700;
	// 		font-style: normal;
	// 		@include stagger($count, (10 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(12) {
	// 		font-weight: 700;
	// 		font-style: italic;
	// 		@include stagger($count, (11 * ($timing / $count)), ($timing / $count));
	// 	}

	// 	&:nth-child(13) {
	// 		font-weight: 700;
	// 		font-style: normal;
	// 		@include stagger($count, (12 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(14) {
	// 		font-weight: 700;
	// 		font-style: italic;
	// 		@include stagger($count, (13 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(15) {
	// 		font-weight: 700;
	// 		font-style: normal;
	// 		@include stagger($count, (14 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(16) {
	// 		font-weight: 500;
	// 		font-style: italic;
	// 		@include stagger($count, (15 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(17) {
	// 		font-weight: 500;
	// 		font-style: normal;
	// 		@include stagger($count, (16 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(18) {
	// 		font-weight: 400;
	// 		font-style: italic;
	// 		@include stagger($count, (17 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(19) {
	// 		font-weight: 400;
	// 		font-style: normal;
	// 		@include stagger($count, (18 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(20) {
	// 		font-weight: 300;
	// 		font-style: italic;
	// 		@include stagger($count, (19 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(21) {
	// 		font-weight: 300;
	// 		font-style: normal;
	// 		@include stagger($count, (20 * ($timing / $count)), ($timing / $count));
	// 	}
	// 	&:nth-child(22) {
	// 		font-weight: 100;
	// 		font-style: italic;
	// 		@include stagger($count, (21 * ($timing / $count)), ($timing / $count));
	// 	}
	// }
}